<div class="container-fluid">
  <div class="edit-profile">
    <div class="row">
      <div class="col-lg-12">
        <form class="card" (formGroup)="(customerForm)">
          <div class="card-header">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Nome</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    formControlName="name"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    formControlName="email"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="phone">Telefone</label>
                  <input
                    type="tel"
                    class="form-control"
                    id="phone"
                    formControlName="phone"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="cpf">CPF</label>
                  <input
                    type="tel"
                    class="form-control"
                    id="cpf"
                    formControlName="cpf"
                  />
                </div>
              </div>
            </div>
            <div class="row" [formGroup]="address">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="street">Rua</label>
                  <input
                    type="text"
                    class="form-control"
                    id="street"
                    formControlName="street"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="number">Número</label>
                  <input
                    type="text"
                    class="form-control"
                    id="number"
                    formControlName="number"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="neighborhood">Bairro</label>
                  <input
                    type="text"
                    class="form-control"
                    id="neighborhood"
                    formControlName="neighborhood"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="city">Cidade</label>
                  <input
                    type="text"
                    class="form-control"
                    id="city"
                    formControlName="city"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="state">Estado</label>
                  <input
                    type="text"
                    class="form-control"
                    id="state"
                    formControlName="state"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="zipCode">CEP</label>
                  <input
                    type="text"
                    class="form-control"
                    id="zipCode"
                    formControlName="zipCode"
                  />
                </div>
              </div>
            </div>
            <div
              *ngFor="let vehicle of vehicles; let i = index; track: item"
              class="row"
            >
              <div class="col-md-6">
                <div class="form-group">
                  <label for="model">Modelo</label>
                  <input
                    type="text"
                    class="form-control"
                    id="model"
                    formControlName="model"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="year">Ano</label>
                  <input
                    type="text"
                    class="form-control"
                    id="year"
                    formControlName="year"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="licensePlate">Cor</label>
                  <input
                    type="text"
                    class="form-control"
                    id="licensePlate"
                    formControlName="licensePlate"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <button>deletar veiculo</button>
              </div>
            </div>
            <button (click)="addVehicles()">add veiculo</button>
          </div>
          <div class="card-footer text-end">
            <button class="btn btn-primary" type="button" (click)="insert()">
              Update Profile
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title mb-0">Ultimos orçamentos</h4>
            <div class="card-options">
              <a
                class="card-options-collapse"
                [routerLink]="[]"
                data-bs-toggle="card-collapse"
                ><i class="fe fe-chevron-up"></i></a
              ><a
                class="card-options-remove"
                [routerLink]="[]"
                data-bs-toggle="card-remove"
                ><i class="fe fe-x"></i
              ></a>
            </div>
          </div>
          <div class="table-responsive card-body">
            <table class="table card-table table-vcenter text-nowrap">
              <thead>
                <tr>
                  <th>Veiculo</th>
                  <th>Data</th>
                  <th>Status</th>
                  <th>Valor</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <a class="text-inherit" [routerLink]="[]"
                      >Untrammelled prevents
                    </a>
                  </td>
                  <td>28 May 2018</td>
                  <td>
                    <span class="status-icon bg-success"></span> Completed
                  </td>
                  <td>$56,908</td>
                  <td class="text-end">
                    <a class="icon" [routerLink]="[]"></a
                    ><a class="btn btn-primary btn-sm" [routerLink]="[]"
                      ><i class="fa fa-pencil"></i> Edit</a
                    ><a class="icon" [routerLink]="[]"></a
                    ><a class="btn btn-transparent btn-sm" [routerLink]="[]"
                      ><i class="fa fa-link"></i> Update</a
                    ><a class="icon" [routerLink]="[]"></a
                    ><a class="btn btn-danger btn-sm" [routerLink]="[]"
                      ><i class="fa fa-trash"></i> Delete</a
                    >
                  </td>
                </tr>
                <tr>
                  <td>
                    <a class="text-inherit" [routerLink]="[]"
                      >Untrammelled prevents</a
                    >
                  </td>
                  <td>12 June 2018</td>
                  <td><span class="status-icon bg-danger"></span> On going</td>
                  <td>$45,087</td>
                  <td class="text-end">
                    <a class="icon" [routerLink]="[]"></a
                    ><a class="btn btn-primary btn-sm" [routerLink]="[]"
                      ><i class="fa fa-pencil"></i> Edit</a
                    ><a class="icon" [routerLink]="[]"></a
                    ><a class="btn btn-transparent btn-sm" [routerLink]="[]"
                      ><i class="fa fa-link"></i> Update</a
                    ><a class="icon" [routerLink]="[]"></a
                    ><a class="btn btn-danger btn-sm" [routerLink]="[]"
                      ><i class="fa fa-trash"></i> Delete</a
                    >
                  </td>
                </tr>
                <tr>
                  <td>
                    <a class="text-inherit" [routerLink]="[]"
                      >Untrammelled prevents</a
                    >
                  </td>
                  <td>12 July 2018</td>
                  <td><span class="status-icon bg-warning"></span> Pending</td>
                  <td>$60,123</td>
                  <td class="text-end">
                    <a class="icon" [routerLink]="[]"></a
                    ><a class="btn btn-primary btn-sm" [routerLink]="[]"
                      ><i class="fa fa-pencil"></i> Edit</a
                    ><a class="icon" [routerLink]="[]"></a
                    ><a class="btn btn-transparent btn-sm" [routerLink]="[]"
                      ><i class="fa fa-link"></i> Update</a
                    ><a class="icon" [routerLink]="[]"></a
                    ><a class="btn btn-danger btn-sm" [routerLink]="[]"
                      ><i class="fa fa-trash"></i> Delete</a
                    >
                  </td>
                </tr>
                <tr>
                  <td>
                    <a class="text-inherit" [routerLink]="[]"
                      >Untrammelled prevents</a
                    >
                  </td>
                  <td>14 June 2018</td>
                  <td><span class="status-icon bg-warning"></span> Pending</td>
                  <td>$70,435</td>
                  <td class="text-end">
                    <a class="icon" [routerLink]="[]"></a
                    ><a class="btn btn-primary btn-sm" [routerLink]="[]"
                      ><i class="fa fa-pencil"></i> Edit</a
                    ><a class="icon" [routerLink]="[]"></a
                    ><a class="btn btn-transparent btn-sm" [routerLink]="[]"
                      ><i class="fa fa-link"></i> Update</a
                    ><a class="icon" [routerLink]="[]"></a
                    ><a class="btn btn-danger btn-sm" [routerLink]="[]"
                      ><i class="fa fa-trash"></i> Delete</a
                    >
                  </td>
                </tr>
                <tr>
                  <td>
                    <a class="text-inherit" [routerLink]="[]"
                      >Untrammelled prevents</a
                    >
                  </td>
                  <td>25 June 2018</td>
                  <td>
                    <span class="status-icon bg-success"></span> Completed
                  </td>
                  <td>$15,987</td>
                  <td class="text-end">
                    <a class="icon" [routerLink]="[]"></a
                    ><a class="btn btn-primary btn-sm" [routerLink]="[]"
                      ><i class="fa fa-pencil"></i> Edit</a
                    ><a class="icon" [routerLink]="[]"></a
                    ><a class="btn btn-transparent btn-sm" [routerLink]="[]"
                      ><i class="fa fa-link"></i> Update</a
                    ><a class="icon" [routerLink]="[]"></a
                    ><a class="btn btn-danger btn-sm" [routerLink]="[]"
                      ><i class="fa fa-trash"></i> Delete</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
