<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header pb-0">
					<h5>Entradas e saídas</h5>
				</div>
				<div class="card-body">
					<div class="table-responsive product-list-custom server-datatable">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th scope="col">Id</th>
										<th scope="col">Data</th>
										<th scope="col">Nome</th>
										<th scope="col">Valor</th>
										<th scope="col">Tipo</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let billing of billings">
										<td>{{billing.id}}</td>
										<td>{{billing.date}}</td>
										<td>{{billing.name}}</td>
										<td>{{billing.value}}</td>
										<td>{{billing.type}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>