<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Itens em estoque</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive product-list-custom server-datatable">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Imagem</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Estoque Atual</th>
                    <th scope="col">Disponível</th>
                    <th scope="col">Fornecedor</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Localização</th>
                    <th scope="col">Observações</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr *ngFor="let product of products; index as i">
                    <td>
                      <img
                        [src]="product.img"
                        class="me-2 img-fluid"
                        style="width: 20px"
                      />
                    </td>
                    <td>
                      {{ product.name }}
                    </td>
                    <td>{{ product.desc }}</td>
                    <td>{{ product.amount }}</td>
                    <td>
                      <div [ngClass]="product.stockClass">
                        {{ product.stock }}
                      </div>
                    </td>
                    <td>{{ product.date }}</td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>