<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card" [formGroup]="ordemDeServicoForm">
        <div class="card-header pb-2 pl-4 pr-4">
          <h5 class="mb-4">Ordem de serviço</h5>
          <input type="text" formControlName="nome" class="form-control header-input m-0" placeholder="Nome"/>
          <input type="text" formControlName="veiculo" class="form-control header-input" placeholder="Veiculo"/>
          <input type="text" formControlName="telefone" class="form-control header-input" placeholder="Telefone"/>
        </div>
        <div class="card-body" formArrayName="itens">
          <button class="btn btn-primary mb-4" (click)="addItem()">+ Novo Item</button>
          <div class="row mb-2">
            <div class="col-3">Qtd.</div>
            <div class="col-3">Descrição</div>
            <div class="col-3">Valor unitário</div>
            <div class="col-3">Valor Total</div>
          </div>
          <ng-container
            *ngFor="let adminForm of itens.controls; let index = index"
          >
            <div [formGroupName]="index" class="row">
              <div class="col-3">
                <input type="text" formControlName="qtd" class="form-control"/>
              </div>
              <div class="col-3">
                <input type="text" formControlName="descricao" class="form-control"/>
              </div>
              <div class="col-3">
                <input type="text" formControlName="valorUnitario" class="form-control"/>
              </div>
              <div class="col-3">
                <input tsype="text" formControlName="valorTotal" class="form-control"/>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
