<div class="container-fluid">
  <div class="row">
    <!-- Individual column searching (text inputs) Starts-->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Clientes</h5>
          <span>Procurar por ordens de serviço (Nome do cliente, veiculo ou telefone)</span>
        </div>
        <div class="card-body">
          <div class="table-responsive product-list-custom server-datatable">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Veiculo</th>
                    <th scope="col">Telefone</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr *ngFor="let product of products; index as i">
                    <td>
                      <img
                        [src]="product.img"
                        class="me-2 img-fluid"
                        style="width: 20px"
                      />
                    </td>
                    <td>
                      {{ product.name }}
                    </td>
                    <td>{{ product.desc }}</td>
                    <td>{{ product.amount }}</td>
                    <td>
                      <div [ngClass]="product.stockClass">
                        {{ product.stock }}
                      </div>
                    </td>
                    <td>{{ product.date }}</td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Individual column searching (text inputs) Ends-->
  </div>
</div>
